# Report Analysis IV

## Selections and frequency

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('dados/aluguel_residential.csv', sep=';')

In [6]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

### Select only the properties of the type "apartment".

In [13]:
selection = df['Tipo'] == 'Apartamento'
selection

0        False
1        False
2         True
3         True
4         True
5         True
6        False
7        False
8         True
9         True
10        True
11        True
12       False
13        True
14       False
15        True
16        True
17        True
18       False
19        True
20        True
21        True
22        True
23        True
24       False
25        True
26        True
27        True
28        True
29        True
         ...
22550     True
22551     True
22552     True
22553     True
22554     True
22555    False
22556     True
22557     True
22558    False
22559     True
22560     True
22561     True
22562     True
22563     True
22564     True
22565     True
22566     True
22567     True
22568     True
22569    False
22570     True
22571     True
22572     True
22573     True
22574    False
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [28]:
n1 = df[selection].shape[0]
n1

41

### Select only the properties of the type "casa", "casa de condominio" e "casa de vila.

In [29]:
selection = (df['Tipo'] == 'Casa') | (df['Tipo'] == 'Casa de Condomínio') | (df['Tipo'] == 'Casa de Vila')

In [30]:
selection

0        False
1         True
2        False
3        False
4        False
5        False
6         True
7         True
8        False
9        False
10       False
11       False
12       False
13       False
14        True
15       False
16       False
17       False
18        True
19       False
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
22550    False
22551    False
22552    False
22553    False
22554    False
22555     True
22556    False
22557    False
22558     True
22559    False
22560    False
22561    False
22562    False
22563    False
22564    False
22565    False
22566    False
22567    False
22568    False
22569    False
22570    False
22571    False
22572    False
22573    False
22574     True
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [31]:
n2 = df[selection].shape[0]
n2

2212

### Select only the properties between 60 and 100 meters

In [32]:
selection = (df['Area'] >= 60) & (df['Area'] <= 100)
selection

0        False
1         True
2        False
3        False
4         True
5        False
6        False
7         True
8        False
9         True
10        True
11       False
12       False
13       False
14       False
15       False
16        True
17       False
18       False
19        True
20        True
21       False
22       False
23       False
24       False
25        True
26       False
27       False
28       False
29       False
         ...
22550    False
22551     True
22552    False
22553    False
22554     True
22555    False
22556     True
22557     True
22558    False
22559    False
22560    False
22561     True
22562    False
22563     True
22564    False
22565     True
22566     True
22567    False
22568     True
22569    False
22570     True
22571    False
22572    False
22573    False
22574    False
22575     True
22576    False
22577     True
22578    False
22579     True
Name: Area, Length: 22580, dtype: bool

In [33]:
n3 = df[selection].shape[0]
n3

8719

### Select the properties que tenham pelo menos 4 quartos e aluguel menor que $2000

In [34]:
selection = (df['Quartos'] >= 4) & (df['Valor'] < 2000)
selection

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
22550    False
22551    False
22552    False
22553    False
22554    False
22555    False
22556    False
22557    False
22558    False
22559    False
22560    False
22561    False
22562    False
22563    False
22564    False
22565    False
22566    False
22567    False
22568    False
22569    False
22570    False
22571    False
22572    False
22573    False
22574    False
22575    False
22576    False
22577    False
22578    False
22579    False
Length: 22580, dtype: bool

In [35]:
n4 = df[selection].shape[0]
n4

41

In [36]:
print("Número de imóveis classificados com tipo 'Apartamento':", n1)

Número de imóveis classificados com tipo 'Apartamento':  41

In [40]:
print("Número de imóveis classificados com tipo 'Casa', 'Casa de Condominio' e 'Casa de Vila': ", n2)

Número de imóveis classificados com tipo 'Casa', 'Casa de Condominio' e 'Casa de Vila':  2212

In [47]:
print("Número de imóveis com area entre 60 e 100 metros quadrados:",n3)

Número de imóveis com area entre 60 e 100 metros quadrados: 8719

In [49]:
print("Número de imóveis que tenham pelo menos 4 quartps e aluguel menor que R$ 2000: ", n4)

Número de imóveis que tenham pelo menos 4 quartps e aluguel menor que R$ 2000:  41